.slider h3,
.slider h5,
.clients h3 {
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.parallax-container {
    height: 20%;
}

.carousel {
    height: 530px;
    /* bottom: 200px; */
}

.carousel .carousel-item {
    height: 460px;
    width: 340px;
}

.card .card-image img {
    max-width: 400px;
    max-height: 380px;
}

.parallax img {
    filter: grayscale(1);
    opacity: 0.5 !important;
}

.clients img {
    max-width: 150px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

.slides img {
    /* filter: grayscale(0); */
    opacity: 0.7 !important;
}

.form {
    margin: 20px;
}

section {
  padding-bottom: 10px;  
}

footer {
    padding-top: 0px !important;
}







